.Home {
    display: inline-block;
}

.Accomodation {
    display: inline-block;
}

.Food {
    display: inline-block;
}

.Attractions {
    display: inline-block;
}

.How_to_reach {
    display: inline-block;
}